# Core libraries
torch
torchvision
scipy==1.11.3
scikit-learn
seaborn
pandas
matplotlib
numpy
requests
pyyaml
tqdm
pytest
scikit-datasets
fastai
fastprogress
scikit-base
joblib
attrs
aiohttp
psutil
pydantic
pyarrow
tornado
pyzmq
pytorch-lightning
gpboost==1.2.7.1
shap
lightgbm
hyperopt
heartpy
imblearn
neurokit2
aeon
tsai==0.4.0
ipykernel
graphviz